<!DOCTYPE html>
<html lang="en">
  <head>
<link rel="stylesheet" href="style.css">
    <div class="navbar-area">
    <div class="container">
      <nav class="site-navbar">
        <ul>
          <li><a ><img src="https://s1.apideeplink.com/images/airlines/BA.png" alt=""></a></li>
          <li><a >British Airways</a></li>
          <li><a >Price</a></li>
          <li><a >Booking</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="navbar-area">
    <div class="container">
      <nav class="site-navbar"> 
        <ul>
          <li><a >home</a></li>
          <li><a >about</a></li>
          <li><a >service</a></li>
          <li><a >contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
  </body>
</html>
