.navbar {
  display: flex;
  align-items: center;
  background: orange;
  color: white;
  font-family: Helvetica;
  font-weight: 300;
}

.logo {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.navbar_item a {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.navbar_item a:hover {
  font-size: 23px;
  color: aqua;
}
